*{
    margin: 0;
    padding: 0;
}

/* ESTILO DO BODY E HEADER */ 

body{
    display: flex;
    flex-direction: column;
    align-items:  center;
    background-color: #fee6f3;
}
#containerConteudoBody{
    width: 100%;
    max-width: 1280px;
    background-color: #ffffff;
    overflow-x: hidden;
}
#header{
    width: 100%;
    max-width: 1280px;
    height: 850px;
    background-color: #fee6f3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#header__menu{
    width: 87%;
    /*max-width: 1034px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}
#header__button--mobile{
    display: none;
}
#menu__lista{
    width: 50%;
    /*max-width: 600px;*/
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.menu__item{
    font-family:inter;
    font-size: 0.75em;
}
.menu__item a{
    text-decoration: none;
    color: #471e59;
    font-weight: 600;
    padding-block:16px;
    opacity:(0);
}
#header__logo{
    width: 150px;
}
#conteudoHeader{
    width: 87%;
    height: 43%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#conteudoHeader__txt{
    width: 45%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#conteudoHeader__img{
    margin-right: 10px;
}
#conteudoHeader__txt h1{
    font-family: yellowtail;
    font-size: 4em;
    color: #471e59;
}
#conteudoHeader__txt p{
    font-family: inter;
    font-size: 0.9em;
    font-weight: 300;
}
#conteudoHeader__imgOnda{
    position: absolute;
    bottom: 0;    
}

/* ESTILO NOSSA ESPECIALIDADE */

.Secao__titulo{
    text-align: center;
    font-size: 2em;
    font-family: inria serif;
    color: #6c2d88;
}
#secaoNossaEspecialidade{
    max-width: 1280px;
    height:800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#secaoNossaEspecialidade__Container{
    width: 87%;
    display: flex;
    justify-content: space-between;
}
.especialidades{
    width: 170px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.especialidades__img{
    width: 170px;
}
.especialidades__titulo{
    font-size: 1em;
    font-family: inria serif;
    text-align: center;
    color: #471e59;
}
.especialidades__txt{
    font-size: 0.9em;
    font-family: inria serif;
    text-align: center;
}

/* ESTILO QUEM SOMOS */

#secaoQuemSomos{
    max-width: 1280px;
    height:800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#secaoQuemSomos__Container{
    width: 87%;
    display: flex;
    justify-content: space-between;
}
#secaoQuemSomos__img{
    width: 360px;
    box-shadow: 4px 4px 4px #6c2d88;
}
#secaoQuemSomos__txt{
    width: 515px;
    position: relative;
    font-family:Istok Web;
    font-size: 1em;
    font-weight: 500;
}
#secaoQuemSomos__txt p{
    position: relative;
    z-index: 2;
}
#secaoQuemSomos__imgtxt{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
/* ESTILO O QUE MAIS FAZEMOS */

#secaoOQueMaisFazemos{
    width: 100%;
    height: 600px;
    background-image: url(Assets/fundo4.jpg);
    position: relative;
}
#secaoOQueMaisFazemos__fundobranco{
    width: 100%;
    height: 600px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffce;
}
#secaoOQueMaisFazemos__fundobranco h3{
    position: absolute;
    top: 10px;
}
#secaoOQueMaisFazemos__container{
    width: 87%;
    height: 362px;
    display: flex;
    justify-content:space-between;
}
.secaoOQueMaisFazemos__servicos--down{
    align-self: flex-end;
}
.secaoOQueMaisFazemos__servicos{
    width: 190px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #d4feeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.servicos__titulo{
    font-size: 1em;
    font-family: inria serif;
    color: #471e59;
    text-align: center;
}
.servicos__img{
    width: 175px;
    height: 260px;
    border-radius: 20px;
}

/* ESTILO CONTATOS*/

#secaoContatos{
    width: 100%;
    height: 600px;
    background-color: #fee6f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#secaoContatos__container{
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contatos{
    width: 500px;
    height: 310px;
    background-image: url(Assets/logoMedio.png);
    background-position: center;
}
#secaoContatos__imgFundo{
    width: 500px;
    height: 310px;
    background-color: #fee6f3e0;
    display: flex;
    flex-direction: column;
}
.tituloContatoLocal{
    font-size: 1.1em;
    font-family: Inter;
}
.inform__enderecoRedes{
    font-size: 1em;
    font-family: Inter;
}
.mensExtra{
    font-family: Inter;
    font-size: 0.8em;
}
.secaoContatos__WAInstaGeral{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.containerWAInsta__inform{
    display: flex;
    align-items: center;
}
.inform__img{
    width: 25px;
}
.img--localizacao{
    width: 480px;
}
#desenvolvedor{
    width: 90%;
    padding-top: 15px;
    border-top-style:solid ;
    border-color: #6c2d88;
    font-family: Inter;
    font-size: 0.8em;
    text-align: center;
}