*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items:  center;
    background-color: #fee6f3;
}
#containerConteudo-Body{
    width: 100%;
    max-width: 1280px;
    background-color: #ffffff;
    overflow-x: hidden;
}
#Secao--Header{
    width: 100%;
    max-width: 1280px;
    height: 835px;
    background-color: #fee6f3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#Inicio--Menu{
    width: 100%;
    max-width: 1034px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}
#Menu--Lista{
    width: 100%;
    max-width: 600px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.Lista--Item{
    font-family:inter;
    font-size: 0.75em;
}
.Lista--Item a{
    text-decoration: none;
    color: #471e59;
    font-weight: 600;
    padding-block:16px;
    opacity:(0);
}
#LogoPagina{
    width: 150px;
}
#conteudoHeader{
    width: 100%;
    max-width: 1034px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#conteudoHeader--txt{
    width: 470px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #471e59;
}
#conteudoHeader--txt h1{
    font-family: yellowtail;
    font-size: 3em;
}
#conteudoHeader--txt p{
    font-family: inter;
    font-size: 1em;
}
#inicio--Efeito{
    position: absolute;
    bottom: 0;    
}
.Secao--titulo{
    text-align: center;
    font-size: 2em;
    font-family: inria serif;
    color: #6c2d88;
}
#Secao--NossaEspecialidade{
    width: 1280px;
    height:800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#NossaEspecialidade--Container{
    width: 1034px;
    display: flex;
    justify-content: space-between;
}
.Especialidades{
    width: 190px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Especialidades--img{
    width: 190px;
}
.Especialidades--titulo{
    font-size: 1em;
    font-family: inria serif;
    text-align: center;
    color: #471e59;
}
.Especialidades--txt{
    font-size: 0.9em;
    font-family: inria serif;
    text-align: center;
}
#Secao--QuemSomos{
    width: 1280px;
    height:800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#Container--QuemSomos{
    width: 1032px;
    display: flex;
    justify-content: space-between;
}
#fotoQuemSomos{
    width: 392px;
    box-shadow: 4px 4px 4px #6c2d88;
}
#txtQuemSomos{
    width: 515px;
    font-size: 1em;
    font-family: istok web;
}
#Linha--txt{
    width: 275px;
    height: 2px;
    background-color :#6c2d88;
}
#Secao-OQueMaisFazemos{
    width: 1280px;
    height: 600px;
    background-image: url(Assets/fundo4.jpg);
    position: relative;
}
#fundo--branco{
    width: 1280px;
    height: 600px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffce;
}
#fundo--branco h3{
    position: absolute;
    top: 10px;
}
#Container--OQueMaisFazemos{
    width: 1032px;
    height: 362px;
    display: flex;
    justify-content:space-between;
}
.down{
    align-self: flex-end;
}
.OQueMaisFazemos--Servicos{
    width: 185px;
    height: 300px;
    background-color: #d4feeb;
    position: relative;
}
.Servicos--titulo{
    font-size: 1em;
    font-family: inria serif;
    color: #471e59;
    text-align: center;
    margin-top: 7px;
}
.Servicos--imagem{
    width: 185px;
    height: 260px;
    position: absolute;
    bottom: 0;
}
#Secao--Contatos{
    width: 1280px;
    height: 600px;
    background-color: #fee6f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#Container--Contatos{
    width: 1032px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Contatos{
    width: 500px;
    height: 310px;
    background-image: url(Assets/logoMedio.png);
    background-position: center;
}
#fundo--img{
    width: 500px;
    height: 310px;
    background-color: #fee6f3e0;
    display: flex;
    flex-direction: column;
}
.titulo-contatoLocal{
    font-size: 1.1em;
    font-family: Inter;
}
.endereco--redes{
    font-size: 1em;
    font-family: Inter;
}
.mens--extra{
    font-family: Inter;
    font-size: 0.8em;
}
.containerWAInstaGeral{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Inf-WAInsta{
    display: flex;
    align-items: center;
}
.Inf-WAInsta img{
    width: 25px;
}
.img--localizacao{
    width: 480px;
}
#desenvolvedor{
    width: 1032px;
    padding-top: 15px;
    border-top-style:solid ;
    border-color: #6c2d88;
    font-family: Inter;
    font-size: 0.8em;
    text-align: center;
}

@media (max-width:769px) {
    #Secao--Header{
        width: 100%;
        max-width: 1280px;
        height: 100vh;
    }
    #conteudoHeader{
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
   #conteudoHeader--txt{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #471e59;
    }
    #conteudoHeader--txt h1{
    font-family: yellowtail;
    font-size: 2.5em;
    }
    #conteudoHeader--txt p{
    font-family: inter;
    font-size: 1em;
    }
    #conteudoHeader--img img{
        width: 450px;
    }
    #inicio--Efeito{
        width: 100vw;
        height: 14;
    }
}